
body{
  background-color: #7b9bc4 ;
  overflow-x: hidden;
}




/*=============== HEADER  ===============*/
header{
  background-image: url("../images/fondo_1_banner_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Para que el navbar absolute se posicione respecto al header */
  /* Ajuste para que el contenido no quede oculto tras el navbar fijo */
  padding-top: 80px;
  
}

/* Estilos del Navbar Wrapper (CodePen) */
.navigation-wrap{
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
    background-color: transparent; /* Transparente al inicio */
}


.navbar__logo{
  height: clamp(2.5em, 5vw, 3.5em);
  width: auto;
  transition: all 0.3s ease-out;
}
.navbar-nav{
    column-gap: 2.5em;
}

.nav-link {
  color: #f1f1f1 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style:normal;
  font-size: 1.1em;
  transition: all 200ms linear;
  padding: 5px 0 !important;
  display: inline-block;
}

/* Efecto Hover del CodePen (Subrayado) */
.navbar-nav .nav-item:hover .nav-link{
	color: #8167a9 !important; /* Puedes cambiar este color por el azul de tu marca */
}

.navbar-nav .nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9; 
	opacity: 0;
    transition: all 200ms linear;
}
.navbar-nav .nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.navbar-nav .nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}


/* Animación del Botón Hamburguesa */

.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
.navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #f1f1f1;
    transition: all 300ms linear;
}
.navbar-toggler-icon:after, 
.navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #f1f1f1;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



.inicio__title {
  width: clamp(270px, 50vw, 900px);
}

.inicio__title__2 {
  width: 100%;
  max-width: 1400px;
  position: relative;
  z-index: 10;
  transform: translateY(-2em); 
  margin-bottom: -2em;
}


/*=============== SOBRE NOSOTROS ===============*/
.nosotros__title {
  width: clamp(300px, 40vw, 900px);
  
}

.nosotros__subtitle{
  width: clamp(120px, 20vw, 250px);
}

.nosotros__description{
  font-family: 'Poppins', sans-serif;
  font-size: clamp(.9em, 2.5vw, 1.15rem);
} 

.nosotros__btn{
  width: clamp(60px, 19vw, 100px);
  background-color: #82addb;
  border: none;
  color: #fff;
 
}

.nosotros__btn:hover, .nosotros__btn:focus, .nosotros__btn:active {
  background-color: #6c8eb3 !important;
  color: #fff !important;
  box-shadow: none !important;
}

.card-body{
  font-family: 'Poppins', sans-serif;
  font-size: clamp(.8em, 2.5vw, 1.1rem);
  background-color: #6c8eb3 !important;
  border: none;
}

.nosotros__subtitle__2{
  width: clamp(320px, 35vw, 800px);
}

.nosotros__description__2{
  font-family: 'Poppins', sans-serif;
  font-size: clamp(.9em, 2.5vw, 1.15rem);
} 

.nosotros__btn__2{
  width: clamp(60px, 19vw, 100px);
  background-color: #82addb;
  border: none;
  color: #fff;
 
}

.nosotros__btn__2:hover, .nosotros__btn__2:focus, .nosotros__btn__2:active {
  background-color: #6c8eb3 !important;
  color: #fff !important;
  box-shadow: none !important;
}



/*=============== SERVICIOS ===============*/

.servicios__titulo{
  width: clamp(350px, 35vw, 650px);
}

.servicios__container {
  position: relative;
}

.servicio__img {
  position: absolute;
  top: -170px; 
  right: 0;   
  height: clamp(250px, 20vw, 300px); 
}

.servicio-card:hover .service-card {
  opacity: 1;
}

.servicios__subtitulo{
  font-family: 'Poppins', sans-serif;
  font-size: clamp(.9em, 2.5vw, 1.25rem);
}

.nosotros__img{
  width: clamp(10em, 90vw, 13em);
}

.nosotros__img-2{
  width: clamp(9.3em, 90vw, 12.3em);
}



.service-card {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  opacity: 0; /* Oculto por defecto */
  transition: opacity 0.5s ease-in-out;
  border: none;
}
.service-card .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image img {
  object-fit: cover;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.servicio-card:hover .card-image img {
  transform: scale(1);
}

/*=============== CONTACTO ===============*/
.contacto{
  /* Imagen por defecto (Pantallas menores a 992px) */
  background-image: url("../images/fondo_2_banner_2.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  margin-top: -10px;
}



.contacto__subtitle{
  width: clamp(150px, 20vw, 250px);
}

.btn__enviar{
  background-color: #6c8eb3;

}

.btn__enviar:hover{
  background-color: #7b9bc4;
}

.nav-link-f {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  
}

.nav-link-f:hover {
  color: #d1e7ff;
  padding-left: 5px;
  
}

.footer__section{
  background-color:#82addb ;
  
}

.footer__text {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(0.55rem, 2vw, 1rem);
  letter-spacing: 1px;
}

.footer__logo {
  width: 120px; /* Ajusta este valor según el tamaño deseado */
  height: auto;
}


/*WhatsApp Btn*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  left: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 60px;
  text-align: center;
  padding-top: 7px;
  font-size: 30px;
  z-index: 100;
}

.float:hover {
  background-color: #fff;
  color: #25d366;
}

.my-float {
  margin-top: 16px;
}
/* =========================================
   MEDIA QUERIES (ORDENADAS)
   ========================================= */

/* 1. Reglas para Móviles y Tablets (max-width) */
@media (max-width: 991px) {
  .nav-item:after {
    display: none;
  }
  .start-header {
    background-color: #82addb !important;
    padding: 8px 0;
  }
  .servicio__img {
    display: none !important;
  }
  #contacto {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .footer__section {
    margin-top: -1px;
  }
}

@media (max-width: 380px) {
  .nav-link-f {
    font-size: 0.85rem; 
    word-break: break-word; /* baje de línea si no cabe */
  }
  /* Ajuste visual para los iconos en pantalla pequeña */
  .nav-link-f i {
    font-size: 1rem !important; 
  }

  .footer__logo {
  width: 90px; /* Ajusta este valor según el tamaño deseado */
  height: auto;

}

  footer .row.position-absolute {
    bottom: -15px !important; /* Bajar el contenedor 15px */
    
  }

  /* Reducir el padding de las columnas para ganar espacio lateral */
  footer .row.position-absolute .col-8,
  footer .row.position-absolute .col-4 {
    padding-left: 22px !important;
    padding-right: 0px !important;
  }

  .footer__text{
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .inicio__title__2 {
    transform: translateY(2.3em);
    margin-bottom: -.4em;
  }
}

/* 2. Reglas para Escritorio (min-width: Ascendente) */

/* Tablets y Laptops pequeñas (>= 768px) */
@media (min-width: 768px) {
  .footer__text {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .footer__logo {
    width: 120px;
  }
  .inicio__title__2 {
    width: 95%;
    transform: translateY(3em);
    margin-bottom: 0em;
  }
}

/* Laptops y Escritorio (>= 992px) */
@media (min-width: 992px) {
  
  .inicio__title__2{
    width: 90%;
    margin-bottom: 0;
  }
  .footer__text {
    font-size: 1rem;
    letter-spacing: 4px;
  }
  .footer__logo {
    width: 140px;
  }
  #formacion {
    margin-bottom: 5em;
  }
  .servicios__container{
    padding-bottom: 9rem;
  }

  #contacto {
    background-image: url("../images/Recurso129.png");
    margin-top: -150px; /* Sube la ola */
    padding-top: 200px; /* Baja el contenido */
  }
}

/* Pantallas Grandes (>= 1200px) */
@media (min-width: 1200px) {
 
  .inicio__title__2 {
    width: 100%;
    transform: translateY(1em);
    margin-bottom: -5em;
  }
  #contacto{
    margin-top: -130px; 
    padding-top: 263px; 
  }

  .contacto__map{
    border-radius: 8px;
  }
  
}

/* Pantallas Extra Grandes (>= 1400px) */
@media (min-width: 1400px) {
  #contacto {
    margin-top: -160px; 
    padding-top: 350px; 
  }

}